run = "node src/index.js"
entrypoint = "src/index.js"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "node src/index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3001
externalPort = 80
